body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.solucion_carrusel{
  width:40%;
  height:fit-content;
  align-self:center;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:20px;
  box-shadow: 2px 2px 5px;
}
.solucion_contenido{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:fit-content;

}
.solucion_imagen{
  border-radius:20px;
  box-shadow: 2px 2px 5px;
}

@media (max-width:720px){
  .solucion_carrusel{
  width:100%;
}
}

